.env
__pycache__/
*.pkl
saved_models/
venv/
data/
datasets/
*.parquet
*.csv
*.pt
*.h5
class_names.json
vit_small_best.pt
skinova_tft_best.ckpt
skinova_bisltm_best.pt
skinova_cnn_scratch_best.pth
skinova_yolo_best.pt